.nav-bar {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    background-color: rgb(73, 113, 189);
    padding: 18px 12px;
}

.material-icons {
    font-size: 18px;
    color: rgba(255, 255, 255, 1); 
}

#today-date {
    position: fixed;
    right: 0px;
    padding: 5px 12px;
}