
html {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

.content {
    position: fixed;
    top: 65px;
    left: 0;
    display: flex;
}

#filter-bar {
    display: none;
    height: 100vh;
    width: 180px;
    padding: 40px 20px;
}

.tasks {
    /* width: 100vw; */
    flex: 1;
    padding: 40px 40px;
    color: black;
}

